  
.button-container:last-child {
    margin-right: 0;
  }

.btn {
    border: 0;
    width: 300px;
    height: 50px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: #FE30DB;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    cursor: pointer;
  }

.btn:hover {
    background-color: #FB7BE6;
  }

.panel-derecha{
    position: absolute;
    width: 400px;
    height: 650px;
    background-color: white;
    margin-top: 10px;
    margin-left: 800px;
    border-radius: 2rem;
}

.error {
    margin-left: 50px;
    position: absolute;
    width: 700px;
    background-color: red;
    font-size: 16px;    
    color: white;   
    text-align: center; 
    text-transform: uppercase;
    font-weight: bold;    
    border-radius: 2rem;
  }

.mensaje-texto{
    color: white;
}